.ball {
    background-color: yellowgreen;
    width: 10rem;
    height: 10rem;
    margin: .5rem;
    border-radius: 50%;
    /* 컨텐츠 중앙, 수직 정렬 */
    text-align: center;
    line-height: 10rem;
    /* 폰트 정리 */
    font-size: xx-large;
    font-weight: bold;
}

.ball-container {
    display: flex;
    margin: 3rem 0;
    justify-content: center;
}

.btn-h1 {
    margin-top: 3rem;
    text-align: center;
}

.btn-btn {
    text-align: center;
}

#lotto-btn {
    width: 10rem;
    height: 4rem;
    font-size: large;
}